language: d
d:
  - dmd-2.066.1
  - dmd-2.067.0
  - gdc-4.9.0
  - ldc-0.14.0

before_install:
  - dub fetch doveralls && dub build doveralls

script:
  - dub test --coverage

after_success:
    ~/.dub/packages/doveralls-*/doveralls
